 /* Add some style to the page */
    body {
        font-family: courier new, sans-serif;
        margin: 0;
      }
      h1 {
        color: white;
      }
      .project {
        border: 1px solid black;
        margin: 20px 0;
        padding: 20px;
      }
      .project h3 {
        margin: 0;
      }
      /* Style the header and navigation menu */
      header {
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }
      header h1 {
        margin: 0;
      }
      nav {
        display: flex;
      }
      nav a {
        color: white;
        text-decoration: none;
        padding: 0 20px;
      }
      nav a:hover {
        color: blue;
      }
      /* Style the blog landing page */
      .blog-landing {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
      }
      .blog-landing h2 {
        margin: 0;
        color: navy;
      }
      .blog-landing p {
        margin: 20px 0;
      }
      .blog-landing .post {
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .blog-landing .post h3 {
        margin: 0;
      }
      .blog-landing .post p {
        margin: 10px 0;
      }