 /* Add some style to the page */
    body {
      font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        margin: 0;
        background-color: #162534;
      }
      h1 {
        color: white;
      }
      p {
        color: white;
      }
      .project {
        border: 1px solid white;
        margin: 20px 0;
        padding: 20px;
      }
      .project h3 {
        margin: 0;
      }
      /* Style the header and navigation menu */
      header {
        background-color: #262e3c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }
      header h1 {
        margin: 0;
        color:white;
        font-weight: bold;
      }
      header p {
        margin: 0;
        color:white;
        font-weight: bold;
      }
      nav {
        display: flex;
      }
      nav a {
        color: white;
        text-decoration: none;
        padding: 0 20px;
      }
      nav a:hover {
        color: #4d7ed0;
      }
      /* Style the blog landing page */
      .blog-landing {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      .blog-landing h2 {
        margin: 0;
        color: white;
        font-weight: bold;
        font-size: 50px;
      }
      .blog-landing p {
        margin: 20px 0;
      }
      .blog-landing .post {
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .blog-landing .post a:link {
        margin: 0;
        color: white;
        text-decoration: none;
      }
      .blog-landing .post a:hover {
        margin: 0;
        color: #4d7ed0;
        text-decoration: none;
      }
      .blog-landing .post a:visited {
        margin: 0;
        color: #513e4f;
        text-decoration: none;
      }
      .blog-landing .post p {
        margin: 10px 0;
      }